<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的个人主页</title>
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="background">
    </div>
    <div class="container">
        <div id="main" class="main-content">
            <div id="hero" class="hero">
                <div class="hero-content">
                    <h1>你好，我是 SolitudeKing</h1>
                    <p>一位热爱编程的全栈开发者</p>
                </div>
            </div>
            <div class="links-iocn">
                <a href="https://blog.solitude.love" target="_blank" class="icon-btn">
                    <i class="icon-blog"></i>
                </a>
                <a href="https://github.com/SolitudeKing" target="_blank" class="icon-btn">
                    <i class="icon-github"></i>
                </a>
                <a href="https://space.bilibili.com/123122814" target="_blank" class="icon-btn">
                    <i class="icon-bilibili"></i>
                </a>
                <!-- <a href="tencent://message/?uin=2465359365&Site=Sambow&Menu=yes" class="icon-btn">
                    <i class="icon-qq"></i>
                </a> -->
                <a href="https://v.douyin.com/w7W9tHYWKI0" target="_blank" class="icon-btn">
                    <i class="icon-douyin"></i>
                </a>

            </div>

        </div>

        <div id="footer" class="footer-content">
            <div>
                <p>&copy; 2025 SolitudeKing. All rights reserved.</p>
            </div>
        </div>
    </div>

    <!-- build:js_index -->
    <script src="js/index.js"></script>
    <!-- endbuild -->
</body>

</html>